body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* overflow: hidden; */
    gap: 2em;
}

.container {
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50vh;
    max-width: 100vw;
}

.newDiv {
    width: 12.5vh;
    min-width: fit-content;
    height: 12.5vh;
    min-height: fit-content;
    outline: 1px solid red;
    flex: 1 1 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newDivHover {
    background-color: blue;
}