:root {
    --squareNumPerSide: 4;
    --containerWidth: 50vh;
    --filledInNum: #BE3E82;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* overflow: hidden; */
    gap: 20px;
    background-color: #DFBBB1;
}

.container {
    background-color: #F56476;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: var(--containerWidth);
    height: var(--containerWidth);
}

.newDiv {
    /* width: calc(var(--containerWidth)/sqrt(var(--squareNum)));
    height: calc(var(--containerWidth)/sqrt(var(--squareNum))); */
    min-width: calc(var(--containerWidth)/var(--squareNumPerSide));
    height: calc(var(--containerWidth)/var(--squareNumPerSide));
    flex: 1 1 calc(100/var(--squareNumPerSide));
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: calc(100/(var(--squareNumPerSide)*var(--squareNumPerSide))); */
}

@keyframes hoverColorShift {
    0% {background-color: #FF00FF;}
    50% {background-color: #00FF00;}
    100% {background-color: #FF00FF;}
}

.newDivHover {
    background-color: var(--filledInNum);
    /* animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: hoverColorShift; */
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

button {
    all: unset;
    background-color: #5E4352;
    color: whitesmoke;
    /* border-right:2px solid #BE3E82;
    border-bottom:2px solid #BE3E82; */
    box-shadow: 4px 4px #BE3E82;
    padding: 5px;
}